h1{
    text-align: center;
}

.grid {
    display: table;
    border-spacing: 5px;
    margin: auto;
}
.row {
    display: table-row
}
.cell {
    width: 150px;
    height: 150px;
    background: grey;
    display: table-cell;
}
/*.row div:last-child {*/
    /*background: red*/
/*}*/

.player{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}